$grayColor: #f7f7f7;
$pinkColor: #f91349;
$darkOrangeColor: #ff5e0d;
$mediumOrangeColor: #fb6d25;
$lightOrangeColor: #ff7633;
$lightGrayColor: #f1f1f1;
$mediumGrayColor: #dddddd;
$darkGrayColor: #c2c2c2;
$mediumBlackColor: #333333;
$lightBlackColor: #767676;
$tealColor: #005e78;
$lightTealColor: #8ccfd9;
$lightBlueColor: #b6ecfb;
$lightBlueColor: #dcf1f4;
$blueColor: #00bdd9;
$offWhiteColor: #f3fafb;
$greenColor: #8dc63f;
$white: #ffffff;
$black: #000000;
$magentaColor: #c50db2;
$redColor: #ff0000;
$yellowColor:#f5ed1b;
$grayBackgrond:#f5f5f5;
$normalGrayColor:#eaeaea;
$editBorder:#4B50BD;
$editBackground:#B7B9F8;
$timeLineBorderBottom:#999999;
