/*
.button{
  @extend .HelveticaRegular;
   @include single-transition(background, 0.5s);
  border-top: darken($black, 10%) 5px solid;
 
  &:hover{
   @include single-transition(background, 0.5s);
  border-top: darken($black, 18%) 5px solid;
  background: darken($black, 13%);
  }
 
}//button
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");
body {
  font-family: Montserrat;
  background-color: #eee; }

.mainBody {
  width: 95%;
  float: left;
  margin-left: 5%; }

.floatLeft {
  float: left; }

.floatRight {
  float: right !important; }

.width100percent {
  width: 100%;
  float: left; }

.width45percent {
  width: 45%;
  float: left; }

.displayInline {
  display: inline-block; }

input:focus {
  outline: none; }

*:focus {
  outline: none; }

.cursorPointer {
  cursor: pointer; }

.searchWrap {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 100px;
  padding: 50px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 5px 2px #b3b3b3;
  -moz-box-shadow: 0px 4px 5px 2px #b3b3b3;
  box-shadow: 0px 4px 5px 2px #b3b3b3; }

.mainWrap {
  width: 80%;
  margin: auto; }

.cardWrap {
  width: 100%; }

.cardInnerWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center; }

.userProfileImg {
  width: 70px;
  height: 70px;
  border-radius: 50%; }

.userRecord {
  margin-top: 20px; }

.labelCls {
  font-size: 14px;
  font-weight: bold;
  display: block; }

.idCls {
  font-size: 12px;
  color: gray; }

.artistDetailTitle {
  font-size: 14px; }

.record {
  float: left;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: center; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none; }

.formBtnCls {
  background: #000000;
  height: 45px;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-family: Montserrat;
  color: #ffffff;
  border: transparent;
  cursor: pointer;
  outline-color: transparent;
  font-weight: 500; }

.fieldLabel {
  float: left;
  width: 100%;
  margin-top: 10px;
  font-size: 15px; }

.formLabel {
  font-size: 22px;
  width: 85%;
  font-weight: 300;
  display: flex; }

.formLabelSmall {
  font-size: 14px;
  width: 100%; }

.InputPadding {
  padding-bottom: 20px; }

.formTextField {
  font-size: 18px;
  border-bottom: 1px solid #000000;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  width: 100%;
  outline-color: transparent;
  font-weight: 400;
  background: transparent; }
  .formTextField .errorField {
    margin-bottom: 9px;
    border-bottom: 2px solid #fc2828; }

.react-datepicker-wrapper {
  width: 100%; }

.react-datepicker__input-container {
  display: block !important; }

.react-datepicker-popper {
  position: static !important;
  transform: none !important; }

.react-datepicker__triangle {
  display: none !important; }

.asterisk_input:after {
  content: " *";
  color: #ff0000;
  font-size: 18px; }

.formFieldBg input[type="text"] {
  border: none; }

.formFieldBg textarea,
.formFieldBg textarea:focus {
  border: none;
  line-height: 1.5;
  margin-bottom: 0.5em;
  min-height: 4em;
  overflow: auto;
  resize: vertical; }
