.formBtnCls {
  background: $black;
  height: 45px;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-family: Montserrat;
  color: $white;
  border: transparent;
  cursor: pointer;
  outline-color: transparent;
  font-weight: 500;
}
